extends layout

block content
    div.section-colored
        div.container
            div.row
                div.col-lg-6
                    div.panel.panel-warning
                        div.panel-heading
                            h3.panel-title #{__('Set new password')}
                        div.panel-body
                            if (sendpwerrormessage !== undefined)
                                div.alert.alert-danger
                                    p= sendpwerrormessage

                            if (sendpwsuccessmessage !== undefined)
                                div.alert.alert-success
                                    p= sendpwsuccessmessage

                            form(method='post')
                                input(type='hidden', id="loginEmail", name='email', placeholder='Enter email', value=useremail)
                                input(type='hidden', id="loginEmail", name='token', placeholder='Enter email', value=token)
                                div.form-group
                                    label(for="visEmail") #{__('Email address')}
                                    input.form-control(type='email', id="visEmail", name='visEmail', placeholder='Enter email', value=useremail, disabled)
                                div.form-group
                                    label(for="visToken") #{__('Token')}
                                    input.form-control.span4.required(type='text', id="visToken", name='visToken', placeholder='Enter token', value=token, disabled)
                                div.form-group
                                    label(for="loginEmail") #{__('New Password')}
                                    input.form-control.span4.required(type='password', id="password", name='password', placeholder='Enter new password')
                                div.form-group
                                    input.btn.btn-warning(type='submit', value='Set new password')